<app-navbar></app-navbar>
<div style=" margin-top: 60px;"></div>
<div class="form" style="padding-left: 35%;" >
  <script src="https://www.google.com/recaptcha/api.js?render=[6LcjnVMlAAAAADzEBxHPUpWpQCkC2IfQ10kEswCc]"></script>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title-group>
          <div >
            <!-- <mat-card-title><h2>Register</h2></mat-card-title> -->
          </div>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
  
  
        <form [formGroup]="organizationForm" (ngSubmit)="onSubmit()">
          <h2 style="text-align: center;">Register Organization</h2>
          <mat-form-field appearance="fill">
            <mat-label>Organization Id:</mat-label>
            <mat-hint>Please enter organization id</mat-hint>
            <input matInput type="number" formControlName="organizationId">
            <mat-error *ngIf="organizationForm.controls['organizationId'].invalid">Please enter a valid Organization ID</mat-error>
          </mat-form-field>
        
          <mat-form-field appearance="fill" >
            <mat-label>Organization Name:</mat-label>
            <input matInput type="text" formControlName="organizationName">
            <mat-error *ngIf="organizationForm.controls['organizationName'].invalid">Please enter a valid organization name</mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="fill" >
            <mat-label>Student Strength:</mat-label>
            <input matInput type="number" formControlName="averageStudentStrength">
            <mat-error *ngIf="organizationForm.controls['averageStudentStrength'].invalid">Please enter a valid Student Strength</mat-error>
          </mat-form-field>

          <button class="button" mat-raised-button type="submit" color="primary" [disabled]="organizationForm.invalid">Submit</button> &nbsp; &nbsp;&nbsp;&nbsp;
          <button class="button" mat-raised-button type="submit" color="warn"  (click)="resetForm()">Clear</button>
        </form>
        
            
        
    </mat-card-content>
    </mat-card>
    </div>
