.search{
    text-align: center;
}

.td{
    font-weight: bold;
}

.image{
    float: right; 
    margin-right: 16px;
}
.main{
    background-image: url('https://tse4.mm.bing.net/th/id/OIP.Rw-Ax6KKOanXl74v7KBo7wHaEv?pid=ImgDet&rs=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search-button {
    position: relative;
   left: 30px;
}

.example-header-image {
    background-image: url('https://th.bing.com/th/id/R.95f1eefa387daf7749bd62ef2b0d5d6c?rik=r0VudgtkdV3QIA&riu=http%3a%2f%2fwww.freepngclipart.com%2fdownload%2fgold%2f53855-trophy-golden-download-free-image.png&ehk=NPzqA4%2faW15v8%2f8kuTTBvd40AoCluucrzlNlMGGchpQ%3d&risl=&pid=ImgRaw&r=0');
    background-size: cover;
  }

  .example-card:hover {
    box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  