<app-navbar></app-navbar>

<div class="card" style="margin-top: 80px;">
    <div class="card-header">
      Contact Details
    </div>
    <div class="card-body" >
      <ul>
        <!-- <li><strong>Name:</strong> FalconSportsClub</li> -->
        <li><strong> <i class="fab fa-google"></i>mail:</strong> falconsportsclub@gmail.com</li>
        <li><strong> <i class="fa fa-phone"></i></strong> 080-8978-8908</li>
        <li><strong> <i class="fab fa-whatsapp"></i></strong>+91 986724563</li>
        <li><strong> <i class="fab fa-instagram"></i></strong>@falconSportsClub</li>
        <li><strong> <i class="fab fa-twitter"></i></strong>@falconSportsClub</li>
      </ul>
    </div>
  </div>
