.search{
    text-align: center;
}

.td{
    font-weight: bold;
}

.image{
    float: right; 
    margin-right: 16px;
}
.main{
    background-image: url('https://tse4.mm.bing.net/th/id/OIP.Rw-Ax6KKOanXl74v7KBo7wHaEv?pid=ImgDet&rs=1');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.search-button {
    position: relative;
   left: 30px;
}

.example-header-image {
    background-image: url('https://tse2.mm.bing.net/th/id/OIP.JZ3eTMeBLN8Kns45eIA_nAHaHw?pid=ImgDet&rs=1');
    background-size: cover;
  }

  .example-card:hover {
    box-shadow: 0px 40px 50px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
  }
  