<div class="images">
<p>
    <mat-toolbar class="tool" color="primary">
  
      <span class="title">FalconSportsClub</span><mat-icon>directions_bike</mat-icon>
      <span class="example-spacer"></span>
      &nbsp;
      &nbsp;
      <a mat-button aria-current="page" routerLink=""  style="color: aliceblue; font-size: small;"> <mat-icon>home</mat-icon></a>
      &nbsp;
      &nbsp;
      &nbsp;
      &nbsp;
      <mat-menu #sportsMenu="matMenu">
        <button mat-menu-item routerLink="/games" ><mat-icon> category</mat-icon>Sports Category</button>
        <button mat-menu-item routerLink="/sports"><mat-icon>list</mat-icon>Sports List</button>
        <button mat-menu-item routerLink="/findwinners"><mat-icon>search</mat-icon>Find Winners</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="sportsMenu" routerLinkActive="active-link">Sports<mat-icon>expand_more</mat-icon></button>
      &nbsp;&nbsp;&nbsp;
      <mat-menu #participantsMenu="matMenu">
        <button mat-menu-item routerLink="/participants"><mat-icon>list</mat-icon>Participant List</button>
        <!-- <button mat-menu-item routerLink="/registerparticipant">Register Participant</button> -->
        <button mat-menu-item routerLink="/findParticipant"><mat-icon>search</mat-icon>Find Participant</button>
        <button mat-menu-item routerLink="/findwinners"><mat-icon>search</mat-icon>Find Winners</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="participantsMenu" routerLinkActive="active-link">Participants<mat-icon>expand_more</mat-icon></button>
      &nbsp;&nbsp;&nbsp;
  
      <mat-menu #scheduleMenu="matMenu" >
        <button mat-menu-item routerLink="/schedule"><mat-icon>schedule</mat-icon>Schedule</button>
        <button mat-menu-item routerLink="/matches"><mat-icon>list</mat-icon>Match List</button>
        <button  mat-menu-item routerLink="/eventlist"><mat-icon>event</mat-icon>Event List</button>
        <button mat-menu-item routerLink="/findfixture"><mat-icon>search</mat-icon>Find Fixture</button>
        
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="scheduleMenu" >Schedule<mat-icon>expand_more</mat-icon></button>
      &nbsp;&nbsp;&nbsp;
      <mat-menu #registerMenu="matMenu">
        <button mat-menu-item routerLink="/registerparticipant"><mat-icon>person_add</mat-icon>Register Participant</button>
        <button mat-menu-item routerLink="/registerorganization"><mat-icon>group_add</mat-icon>Register Organization</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="registerMenu">Register<mat-icon>expand_more</mat-icon></button>
  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
      <!-- <a mat-button aria-current="page"  routerLink="/details">More</a> -->
      
      <a mat-button  routerLink="/contact">Contact Us&nbsp; <mat-icon> mail_outline</mat-icon></a>&nbsp;
      
      
      
      <a mat-button aria-current="page" routerLink="/help">Help<mat-icon>help_outline</mat-icon></a>
      <a mat-button aria-current="page" class="login" routerLink="/login"  style="margin-left: auto;">Login<mat-icon>account_circle</mat-icon>
      </a>

    </mat-toolbar>
  </p>
</div>
  
  

  