<app-navbar></app-navbar>
<div style=" margin-top: 40px;"></div>
<div class="images">
  <div class="color">
    <mat-form-field class="search" appearance="outline" style=" margin-top: 40px; border-color: aliceblue;">
        <mat-label class="color">Filter</mat-label>
        <input matInput type="text" id="search">
    </mat-form-field>
    </div>

<div class="container">
    <div>
<div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="fixtureId">
      <th mat-header-cell *matHeaderCellDef  class="sticky-header"> Fixture ID </th>
      <td mat-cell *matCellDef="let fixture"> {{fixture.fixtureId}} </td>
    </ng-container>

    <ng-container matColumnDef="event.eventName">
        <th mat-header-cell *matHeaderCellDef  class="sticky-header"> Event Name </th>
        <td mat-cell *matCellDef="let fixture"> {{fixture.event.eventName}} </td>
      </ng-container>

      <ng-container matColumnDef="sports.sportsName">
        <th mat-header-cell *matHeaderCellDef  class="sticky-header"> Sports Name </th>
        <td mat-cell *matCellDef="let fixture"> {{fixture.sports.sportsName}} </td>
      </ng-container>


      <ng-container matColumnDef="team1Id.teamName">
        <th mat-header-cell *matHeaderCellDef  class="sticky-header"> Team 1 Name</th>
        <td mat-cell *matCellDef="let fixture"> {{fixture.team1Id.teamName}} </td>
      </ng-container>


      <ng-container matColumnDef="team2Id.teamName">
        <th mat-header-cell *matHeaderCellDef  class="sticky-header"> Team 2 Name </th>
        <td mat-cell *matCellDef="let fixture"> {{fixture.team2Id.teamName}} </td>
      </ng-container>


      <ng-container matColumnDef="venue">
        <th mat-header-cell *matHeaderCellDef  class="sticky-header"> Venue </th>
        <td mat-cell *matCellDef="let fixture"> {{fixture.venue}} </td>
      </ng-container>


      <ng-container matColumnDef="dateTime">
        <th mat-header-cell *matHeaderCellDef  class="sticky-header"> Date Time</th>
        <td mat-cell *matCellDef="let fixture"> {{fixture.dateTime |date:'dd MMM yyyy HH:mm'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

    </div>

</div>
</div>
</div>